[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.2.4"
matplotlib = "~=3.4.2"
scikit-learn = "~=0.24.2"
seaborn = "~=0.11.1"
convertdate = "~=2.3.2"
pystan = "==2.18.0.0"
plotly = "~=5.0.0"
notebook = "~=6.4.0"
pyyaml = "~=5.4.1"
requests = "~=2.25.1"

[dev-packages]

[requires]
python_version = "3.8"
