[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
sklearn = "*"
seaborn = "*"
convertdate = "*"
pystan = "==2.18.0.0"
plotly = "*"
notebook = "*"
pyyaml = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
